body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 1px solid #dddddd;

}

/* Define a fonte e o espaçamento das células */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* Define a cor de fundo das células do cabeçalho */
th {
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
}

/* Define a cor de fundo das células dos dados */
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Centraliza o texto do primeiro th em cada linha tr */
tr th:first-child {
  text-align: center;
}